@inherits LayoutComponentBase

    <MudThemeProvider />
    <MudDialogProvider />
    <MudSnackbarProvider />

    <div class="page">
        <header class="page-header bg-dark navbar-dark">
            <NavMenu />
            <LoginDisplay />
        </header>

        <main class="page-body">
            @Body
        </main>

        <footer class="page-footer bg-dark navbar-dark">
            <p>© ECTS 2021</p>
            <a href="mailto:kutyukutyu.mondamin@hotmail.com">
                <span class="oi oi-question-mark"></span>
            </a>
        </footer>
    </div>

