.page
{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.page-header
{
    color: whitesmoke;
    background-color: black;

    height: 50px;
    top: 0;
    z-index: auto;

    display: flex;
    justify-content: space-between;
    padding: 0 5px;
}

.page-body
{
    flex-basis: auto;
    flex-shrink: 0;
    flex-grow: 1;

    padding: 5px;
    text-align: justify;
    z-index: auto;
}

.page-footer
{
    color: gray;
    background-color: black;

    height: 30px;
    flex-basis: auto;
    flex-grow: 0;
    flex-shrink: 0;

    display: flex;
    justify-content: space-between;
    padding: 0 5px
}

    .page-footer .oi
    {
        color: gray;
        font-size: 1rem;
    }

    .page-footer p, .page-footer a
    {
        margin: auto 0;
    }