@page "/"

@using Ects.Web.Repository.Pages.Components
@using Art.Web.Client.Services.Abstractions

@inject NavigationManager NavigationManager
@inject IMenuService menuService

<style>
    .container {
        margin: auto;
        width: 70%;
        padding: 10px;
    }
</style>

<div class="container">
    <h1>Schedule</h1>

    @if (_loading)
    {
        <div class="spinner-border spinner-border-sm"></div>
    }


    @foreach (var exam in _exams)
    {
        var current = exam;
        <ExamCard ExamInfo="@current" User="@FakeRepository.Accounts[0]" />
    }
</div>

@code
{
    private bool _loading = true;

    private List<Ects.Persistence.Models.Exam> _exams = new List<Ects.Persistence.Models.Exam>();

    protected override void OnInitialized()
    {
        _loading = true;
        _exams = FakeRepository.Exams.OrderBy(_ => _.StartAvailabilityTime).Where(_ => _.EndAvailabilityTime > DateTime.UtcNow).ToList();
        _loading = false;
        StateHasChanged();

        menuService.HasConflicts = FakeRepository.QuestionQuestionConflicts.Any(_ => _.IsResolved == false);
        menuService.NotifyChanged();
        StateHasChanged();
    }
}
