@page "/question-new"

@using Microsoft.AspNetCore.Authorization

@inherits QuestionNewBase

@*@attribute [Authorize(Roles = "Administrator")]*@

<style>
    .container {
        margin: auto;
        width: 70%;
        padding: 10px;
    }
</style>

<div class="container">
    @if (Type == null)
    {
        <h1>Choose question type</h1>

        @foreach (var type in FakeRepository.QuestionTypes)
        {
            var current = type;
            <Ects.Web.Repository.Pages.Components.QuestionTypeCard QuestionType="@current" OnClickCallback="@(() => ChooseType((int)current.Id))" />
        }
    }
    else
    {
        @switch (Type.Type)
        {
            case "free-exactly":
                <Ects.Web.Repository.Pages.Components.Questions.FreeExactlyCreate />
                break;

            case "single":
                <p>empty</p>
                break;

            case "multiple-exactly":
                <Ects.Web.Repository.Pages.Components.Questions.MultipleCreate />
                break;

            default:
                break;
        }
    }
</div>

@code
{
    public QuestionType Type { get; set; }

    private void ChooseType(int id)
    {
        Type = FakeRepository.QuestionTypes.Single(_ => _.Id == id);
        StateHasChanged();
    }
}