@page "/questions/namespaces"

@using Microsoft.AspNetCore.Authorization
@using Ects.Web.Repository.Pages.Components

@inherits SubjectsIndexBase

@*@attribute [Authorize]*@

<div class="row m-5">
    @foreach (var subject in FakeRepository.Namespaces)
    {
        <div class="m-1"
             style="background: url( @FakeRepository.Images.Single(_ => _.Id == subject.ImageId).Url ) no-repeat center; background-size: 300px 300px; width: 300px; height: 300px;"
             @onclick="@(() => ViewSubject(subject.Id))">
            <SubjectCard Subject="@subject" />
        </div>
    }

    <div class="m-1"
         style="background: url(https://creazilla-store.fra1.digitaloceanspaces.com/emojis/48537/plus-emoji-clipart-md.png) no-repeat center; background-size: 100px 100px; width: 300px; height: 300px;"
         @onclick="AddSubject">
        <SubjectCard Subject="@null" />
    </div>
</div>
