@page "/question-history/{id}"

@*@attribute [Authorize]*@

@inject NavigationManager NavigationManager

@if (_loading)
{
    <div class="spinner-border spinner-border-sm"></div>
}

<div class="container">
    <h1>Question History</h1>

    @if (_questions != null)
    {
        <div class="scrollable-container">
            <div style="max-height: 100%; overflow: auto;">
                @foreach (var task in _questions)
                {
                    @switch (FakeRepository.Questions[(int)task.QuestionId].QuestionTypeId)
                    {
                        case 0:
                            <Ects.Web.Repository.Pages.Components.Questions.FreeExactlyHistory Question="@task" />
                            break;

                        case 1:
                            <p>empty</p>
                            break;

                        case 2:
                            <p>empty</p>
                            break;

                        default:
                            break;
                    }
                }
            </div>
        </div>
    }
</div>

<style>
    .scrollable-container {
        height: calc(100vh - 150px);
        position: relative;
                          }

    .container {
        margin: auto;
        width: 70%;
        padding: 10px;
               }
</style>

@code
{
    [Parameter]
    public string Id { get; set; }

    public int QuestionId => int.Parse(Id);

    private bool _loading = true;

    private List<Ects.Persistence.Models.QuestionHistory> _questions;

    protected override async Task OnInitializedAsync()
    {
        _loading = true;

        await ChangePage(1);

        _loading = false;
        StateHasChanged();
    }

    private async Task ChangePage(int page)
    {
        _questions = FakeRepository.QuestionHistorys.Where(_ => _.QuestionId == QuestionId).ToList();
        StateHasChanged();
    }

    private async Task GoBack()
    {
        NavigationManager.NavigateTo($"questions/namespaces/{FakeRepository.Questions[(int)QuestionId].NamespaceId}");
    }
}