@page "/tests/namespaces/{id}"

@using Ects.Web.Repository.Pages.Components;
@*@attribute [Authorize]*@

@inject IJSRuntime JsRuntime
@inject NavigationManager NavigationManager

<style>
    .container {
        margin: auto;
        width: 70%;
        padding: 10px;
    }
</style>

@if (_loading)
{
    <div class="spinner-border spinner-border-sm"></div>
}

<div class="container">
    <h1>Tests</h1>

    @foreach (var variant in _variants)
    {
        var current = variant;
        <TestCard OnEditCallback="EditVariant" OnExportCallback="ExportVariant" Variant="@current" />
    }
</div>

@code
{
    [Parameter]
    public string Id { get; set; }

    public long NamespaceId => long.Parse(Id);

    private bool _loading = true;

    private List<Test> _variants = new List<Test>();

    protected override async Task OnInitializedAsync()
    {
        _loading = true;
        _variants = FakeRepository.Tests.Where(_ => _.NamespaceId == NamespaceId).ToList();
        _loading = false;
        StateHasChanged();
    }

    private void EditVariant(long variantId)
    {
        NavigationManager.NavigateTo($"variant-view/{variantId}");
    }

    private async Task ExportVariant(long variantId)
    {
        var variant = FakeRepository.Tests[(int)variantId];
        var json = JsonSerializer.Serialize(variant);
        var file = Encoding.UTF8.GetBytes(json);
        await JsRuntime.InvokeVoidAsync("BlazorDownloadFile", "ExportedTest.json", "application/json", file);
    }
}


